<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106121839902-1m94bill5f07ag5klj13kd5tjrd0ndje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106121839902-1m94bill5f07ag5klj13kd5tjrd0ndje</string>
	<key>API_KEY</key>
	<string>AIzaSyC2jl0UpQd_TXKuPMeJ3fnTcX4xOfPJ-PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>106121839902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metrReading</string>
	<key>PROJECT_ID</key>
	<string>metter-reading-8a6a0</string>
	<key>STORAGE_BUCKET</key>
	<string>metter-reading-8a6a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106121839902:ios:214294fe95777d6b94b50f</string>
</dict>
</plist>